<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}::{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800&subset=latin-ext"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/main.css') }}"/>
</head>
<body>
<div id="header">
    <div id="toolbar">
        <div class="container">
            Zaloguj się | Zarejestruj się
        </div>
    </div>
    <div class="container">
        <div id="logo">mYsh</div>
        <div id="cart-preview">
            {{ render(controller('xis.shop.controller.cart:previewAction')) }}
        </div>
    </div>
</div>
<div id="navigation">
    <div class="container">
        {{ render(controller('xis.shop.controller.category:mainCategoriesAction')) }}
    </div>
</div>
<div id="main-content">

    <div class="flash-container container">
        {% for flashMessage in app.session.flashbag.get('fos_user_success') %}
            <div class="flash-message alert alert-success">{{ flashMessage|trans({}, 'FOSUserBundle') }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message alert alert-error">{{ flashMessage }}</div>
        {% endfor %}
    </div>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    <div class="container">@copyright xis</div>
</div>
</body>
</body>
</html>